In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_columns',100)

In [3]:
data=pd.read_csv('deliveries.csv')
ipl=pd.read_csv('matches.csv')
merged=ipl.merge(data,left_on='id',right_on='match_id')

In [4]:
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,0,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
ipl

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [6]:
merged.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'match_id', 'inning', 'batting_team', 'bowling_team', 'over',
       'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over',
       'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In the below cells, before main function heading. I am finding z scores of players

# Batsman (20 overs)

In [7]:
total_runs=merged.groupby('batsman')['batsman_runs'].sum().reset_index()
balls_played=merged.groupby('batsman')['batsman_runs'].count().reset_index()
runs_balls_played_whole=total_runs.merge(balls_played,on='batsman')
runs_balls_played_whole.rename(columns={'batsman_runs_y':'balls_played','batsman_runs_x':'runs'},inplace=True)

runs_balls_played_whole['strike']=(runs_balls_played_whole['runs']/runs_balls_played_whole['balls_played'])*100

runs_balls_played_whole=runs_balls_played_whole[runs_balls_played_whole['balls_played']>=200]

In [8]:
mean_bat_whole=runs_balls_played_whole['strike'].mean()
std_bat_whole=runs_balls_played_whole['strike'].std()
runs_balls_played_whole['z']=(runs_balls_played_whole['strike']-mean_bat_whole)/std_bat_whole

In [9]:
runs_balls_played_whole.sort_values('strike',ascending=False).head()

        batsman  runs  balls_played      strike         z
30   AD Russell   574           350  164.000000  3.030419
86    CH Morris   439           275  159.636364  2.716882
143  GJ Maxwell  1229           780  157.564103  2.567985
196   KH Pandya   480           313  153.354633  2.265525
433    V Sehwag  2728          1833  148.827059  1.940208

# Bowlers (20 overs)

In [10]:
bowlers=merged.copy()
dismissal=['caught','bowled','lbw','stumped','caught and bowled','hit wicket']
total_wickets=bowlers[bowlers['dismissal_kind'].isin(dismissal)]

In [11]:
total_wickets=total_wickets.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).reset_index()
total_wickets.rename(columns={'player_dismissed':'wickets'},inplace=True)

In [12]:
runs_given=bowlers.groupby('bowler')['total_runs'].sum().reset_index()
runs_given.rename(columns={'total_runs':'runs'},inplace=True)

In [13]:
balls_bowled=bowlers.groupby('bowler')['total_runs'].count().reset_index()
balls_bowled.rename(columns={'total_runs':'balls_bowled'},inplace=True)

In [14]:
bowler_statistics_whole=total_wickets.merge(runs_given,on='bowler')
bowler_statistics_whole=bowler_statistics_whole.merge(balls_bowled,on='bowler')

In [15]:
bowler_statistics_whole['econ']=100-(bowler_statistics_whole['runs']/(bowler_statistics_whole['balls_bowled']/6))

In [16]:
bowler_statistics_whole=bowler_statistics_whole[bowler_statistics_whole['balls_bowled']>=200]

In [17]:
mean_bowl_whole=bowler_statistics_whole['econ'].mean()
std_bowl_whole=bowler_statistics_whole['econ'].std()

In [18]:
bowler_statistics_whole['z']=(bowler_statistics_whole['econ']-mean_bowl_whole)/std_bowl_whole

In [19]:
bowler_statistics_whole.sort_values('econ',ascending=False).head()

            bowler  wickets  runs  balls_bowled       econ         z
88   Sohail Tanvir       22   275           265  93.773585  2.391285
144     A Chandila       11   245           234  93.717949  2.309710
10       SP Narine       95  2085          1956  93.604294  2.143068
9         R Ashwin      100  2552          2359  93.509114  2.003512
147     SM Pollock       11   307           280  93.421429  1.874946

# Top 10 batsman in Dangerous Overs (16 to 20 overs)

In [20]:
mask=merged['over']>15
danger=merged[mask]

In [21]:
total_runs_danger=danger.groupby('batsman')['batsman_runs'].sum().reset_index()
total_runs_danger.rename(columns={'batsman_runs':'runs'},inplace=True)
total_balls_danger=danger.groupby('batsman')['batsman_runs'].count().reset_index()
total_balls_danger.rename(columns={'batsman_runs':'balls'},inplace=True)
batsman_statistics_danger=total_runs_danger.merge(total_balls_danger,on='batsman')
batsman_statistics_danger=batsman_statistics_danger[batsman_statistics_danger['balls']>=200]
batsman_statistics_danger['strike']=(batsman_statistics_danger['runs']/batsman_statistics_danger['balls'])*100

In [22]:
mean_bat_danger=batsman_statistics_danger['strike'].mean()
std_bat_danger=batsman_statistics_danger['strike'].std()

In [23]:
batsman_statistics_danger['z']=(batsman_statistics_danger['strike']-mean_bat_danger)/std_bat_danger

In [24]:
batsman_statistics_danger=batsman_statistics_danger.sort_values('z',ascending=False).head(10)

In [25]:
batsman_statistics_danger

            batsman  runs  balls      strike         z
21   AB de Villiers  1203    570  211.052632  2.641360
93        DA Warner   432    228  189.473684  1.629732
92        DA Miller   672    360  186.666667  1.498138
390         V Kohli   993    546  181.868132  1.273181
296       RG Sharma  1314    748  175.668449  0.982538
101       DJ Hussey   410    234  175.213675  0.961218
310      RV Uthappa   477    275  173.454545  0.878750
414    Yuvraj Singh   883    516  171.124031  0.769494
160       JH Kallis   394    231  170.562771  0.743182
237        MS Dhoni  2076   1224  169.607843  0.698415

# Top 10 bowlers in dangerous overs (16 to 20 overs)

In [26]:
total_runs_given_dang=danger.groupby('bowler')['total_runs'].sum().reset_index()
total_runs_given_dang.rename(columns={'total_runs':'runs'},inplace=True)
total_balls_dang=danger.groupby('bowler')['total_runs'].count().reset_index()
total_balls_dang.rename(columns={'total_runs':'balls'},inplace=True)
bowler_stats_danger=total_runs_given_dang.merge(total_balls_dang,on='bowler')
bowler_stats_danger=bowler_stats_danger[bowler_stats_danger['balls']>=200]
bowler_stats_danger['econ']=100-(bowler_stats_danger['runs']/(bowler_stats_danger['balls']/6))

In [27]:
mean_bowl_dang=bowler_stats_danger['econ'].mean()
std_bowl_dang=bowler_stats_danger['econ'].std()

In [28]:
bowler_stats_danger['z']=(bowler_stats_danger['econ']-mean_bowl_dang)/std_bowl_dang

In [29]:
bowler_stats_danger=bowler_stats_danger.sort_values('z',ascending=False).head(10)

In [30]:
bowler_stats_danger

              bowler  runs  balls       econ         z
254        SP Narine   790    664  92.861446  2.090835
76      DE Bollinger   297    242  92.636364  1.846308
248       SL Malinga  1300   1050  92.571429  1.775762
161         MA Starc   265    210  92.428571  1.620563
199         R Ashwin   479    379  92.416887  1.607869
90          DW Steyn   806    624  92.250000  1.426564
157   M Muralitharan   380    284  91.971831  1.124363
101  Harbhajan Singh   348    258  91.906977  1.053906
293       WD Parnell   289    214  91.897196  1.043280
62         CH Morris   529    381  91.669291  0.795686

# Main function

In the previous cells. i have found out batsman and bowlers z scores in all 20 overs and in dangerous overs,
now my point of view is such that
- Compare the z scores of batsman and bowler in all 20 over table (runs_balls_played_whole, and bowler_statistics_whole), and according either increase result_bat or result_bowl variable by 1 for the player having high z score
- Compare the z scores of batsman and bowler in danger overs (16 to 20) using tables (batsman_statistics_danger, and bowler_stats_danger), and according either increase result_bat or result_bowl variable by 1 for the player having high z score
- If one of the two players aren't listed in danger overs table, in that case, the player listed in the danger table will have +2 in his result variable. thus making him a better player over the other

variables to use are:
- runs_balls_played_whole: batsman (20 overs)
- bowler_statistics_whole: bowlers (20 overs)
- batsman_statistics_danger: batsmen in danger overs
- bowler_stats_danger: bowlers in danger overs

In [31]:
def batsmen_bowler_present(batsman_name,bowler_name):
    """Used to check if the given names are valid or not"""
    batsman_present=False
    bowler_present=False
    # Checking whether the name is correct by matching it with all batsman,bowler unique names
    if batsman_name in list(runs_balls_played_whole['batsman'].unique()) and bowler_name in list(bowler_statistics_whole['bowler'].unique()):
        return True

In [32]:
def dataframe_info_sender(batsman_name,bowler_name):
    """Sending dataframes of the given batsman and bowler"""
    batsman_whole=runs_balls_played_whole[runs_balls_played_whole['batsman']==batsman_name]
    batsman_danger=batsman_statistics_danger[batsman_statistics_danger['batsman']==batsman_name]
    bowler_whole=bowler_statistics_whole[bowler_statistics_whole['bowler']==bowler_name]
    bowler_danger=bowler_stats_danger[bowler_stats_danger['bowler']==bowler_name]
    return (batsman_whole,batsman_danger,bowler_whole,bowler_danger)

In [33]:
def compare(batsman_name,bowler_name):
    """compare(batsman_name,bowler_name) function let's you compare a batsman and a bowler and then prints who is a better
    T20 player. The result depends upon the players strike rate/ economy in all 20 overs,
    and specially the performance of a player in the dangerous overs."""
    # Checking if names are valid and can be compared
    # condition for comparing is both the given names must have played more than 200 balls.
    if batsmen_bowler_present(batsman_name,bowler_name):
        
        # Getting the info related to the given names
        
        batsman_whole,batsman_danger,bowler_whole,bowler_danger = dataframe_info_sender(batsman_name,bowler_name)
        
        # The below variables are used to know whether batsman and bowler are in the top 10 list of danger overs
        
        bat_dang_length = len(batsman_danger) 
        bowl_dang_length = len(bowler_danger)
        
        # result_bat and result_bowl are used to give points to the batsman or bowler if he is found to be a better 
        # player with the given below conditions.
        
        result_bat = 0
        result_bowl = 0
        
        # Checking for better player in all 20 overs using z scores
        
        if batsman_whole['z'].values[0] > bowler_whole['z'].values[0]:
            result_bat=result_bat+1
            
        elif batsman_whole['z'].values[0] < bowler_whole['z'].values[0]:
            result_bowl=result_bowl+1
            
        elif batsman_whole['z'].values[0] == bowler_whole['z'].values[0]:
            result_bat=result_bat+1
            result_bowl=result_bowl+1
            
        # Checking for better player in dangerous overs using z score
        
        # If both bowler and batsman are in top 10 list of danger over players with high strike rate/econ.
        
        if bat_dang_length > 0 and bowl_dang_length > 0:
            if batsman_danger['z'].values[0] > bowler_danger['z'].values[0]:
                result_bat+=1
                
            elif batsman_danger['z'].values[0] < bowler_danger['z'].values[0]:
                result_bowl+=1
                
            elif batsman_danger['z'].values[0] == bowler_danger['z'].values[0]:
                result_bat+=1
                result_bowl+=1
                
        # If the given batsman is in the top 10 list of danger overs and bowler isn't        
        
        elif bat_dang_length == 0 and bowl_dang_length > 0:
            result_bowl+=2
            
        # If the given batsman is not in top 10 list and bowler is    
        
        elif bat_dang_length > 0 and bowl_dang_length == 0:
            result_bat+=2
            
        # Comparing points given in above condition and printing result    
        
        if result_bat > result_bowl:
            print(batsman_name,'is a better T20 player than',bowler_name)
        elif result_bat < result_bowl:
            print(bowler_name,'is better T20 player than',batsman_name)
        elif result_bat == result_bowl:
            print(batsman_name,'and',bowler_name,'are of same level')
    else:
        
        # If batsman/bowler are not valid names or they aren't comparable because of not played more than 200 balls. 
        
        print('Sorry, either your player names are incorrect or they haven\'t played more than 200 balls in T20',end='')
        print('. Thus are not comparable.')

In [34]:
len(runs_balls_played_whole[runs_balls_played_whole['batsman']=='V Kohli'])

1

In [35]:
compare('V Kohli','Harbhajan Singh')

V Kohli and Harbhajan Singh are of same level

In [36]:
compare('V Kohli','Sohail Tanvir') # Because sohail isnt listed in danger table while virat is

V Kohli is a better T20 player than Sohail Tanvir

In [37]:
compare('V Kohli','SP Narine')

SP Narine is better T20 player than V Kohli

In [38]:
runs_balls_played_whole=runs_balls_played_whole[runs_balls_played_whole['balls_played']>=200]

In [42]:
runs_balls_played_whole['batsman'].to_list()

['A Mishra',
 'A Symonds',
 'AA Jhunjhunwala',
 'AB de Villiers',
 'AC Gilchrist',
 'AD Mathews',
 'AD Russell',
 'AJ Finch',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AP Tare',
 'AR Patel',
 'AT Rayudu',
 'Azhar Mahmood',
 'B Chipli',
 'BA Stokes',
 'BB McCullum',
 'BJ Hodge',
 'CA Lynn',
 'CA Pujara',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CL White',
 'DA Miller',
 'DA Warner',
 'DB Das',
 'DB Ravi Teja',
 'DJ Bravo',
 'DJ Hooda',
 'DJ Hussey',
 'DJG Sammy',
 'DPMD Jayawardene',
 'DR Smith',
 'DT Christian',
 'EJG Morgan',
 'F du Plessis',
 'G Gambhir',
 'GC Smith',
 'GH Vihari',
 'GJ Bailey',
 'GJ Maxwell',
 'Gurkeerat Singh',
 'HH Gibbs',
 'HH Pandya',
 'HM Amla',
 'Harbhajan Singh',
 'IK Pathan',
 'Ishan Kishan',
 'J Botha',
 'JA Morkel',
 'JC Buttler',
 'JD Ryder',
 'JEC Franklin',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'JR Hopes',
 'K Goel',
 'KA Pollard',
 'KC Sangakkara',
 'KD Karthik',
 'KH Pandya',
 'KK Nair',
 'KL Rahul',
 'KM Jadhav',
 'KP Pietersen',
 'KS Williamson',
 'KV Sharma',
 'LA Pomersbach',
 'LMP Simmons',
 'LR Shukla',
 'LRPL Taylor',
 'M Kaif',
 'M Manhas',
 'M Vijay',
 'M Vohra',
 'MA Agarwal',
 'MC Henriques',
 'MD Mishra',
 'MEK Hussey',
 'MK Pandey',
 'MK Tiwary',
 'ML Hayden',
 'MR Marsh',
 'MS Bisla',
 'MS Dhoni',
 'MV Boucher',
 'Mandeep Singh',
 'N Rana',
 'NLTC Perera',
 'NV Ojha',
 'OA Shah',
 'P Kumar',
 'P Negi',
 'PA Patel',
 'PC Valthaty',
 'PP Chawla',
 'Q de Kock',
 'R Ashwin',
 'R Bhatia',
 'R Dravid',
 'R Sathish',
 'R Vinay Kumar',
 'RA Jadeja',
 'RA Tripathi',
 'RG Sharma',
 'RN ten Doeschate',
 'RR Pant',
 'RS Bopara',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'S Sohal',
 'SA Asnodkar',
 'SA Yadav',
 'SC Ganguly',
 'SE Marsh',
 'SK Raina',
 'SK Warne',
 'SP Goswami',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Iyer',
 'SS Tiwary',
 'ST Jayasuriya',
 'STR Binny',
 'SV Samson',
 'Shakib Al Hasan',
 'TL Suman',
 'TM Dilshan',
 'UBT Chand',
 'V Kohli',
 'V Sehwag',
 'VVS Laxman',
 'WP Saha',
 'Y Nagar',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [43]:
bowler_statistics_whole=bowler_statistics_whole[bowler_statistics_whole['balls_bowled']>=200]

In [47]:
y=bowler_statistics_whole['bowler'].to_list()

In [48]:
batsman_whole=runs_balls_played_whole[runs_balls_played_whole['batsman']]
batsman_danger=batsman_statistics_danger[batsman_statistics_danger['batsman']]
bowler_whole=bowler_statistics_whole[bowler_statistics_whole['bowler']]
bowler_danger=bowler_stats_danger[bowler_stats_danger['bowler']]

KeyError: "None of [Index(['A Mishra', 'A Symonds', 'AA Jhunjhunwala', 'AB de Villiers',\n       'AC Gilchrist', 'AD Mathews', 'AD Russell', 'AJ Finch', 'AL Menaria',\n       'AM Nayar',\n       ...\n       'TM Dilshan', 'UBT Chand', 'V Kohli', 'V Sehwag', 'VVS Laxman',\n       'WP Saha', 'Y Nagar', 'Y Venugopal Rao', 'YK Pathan', 'Yuvraj Singh'],\n      dtype='object', length=142)] are in the [columns]"

In [50]:
runs_balls_played_whole['batsman']

6             A Mishra
11           A Symonds
16     AA Jhunjhunwala
22      AB de Villiers
24        AC Gilchrist
            ...
446            WP Saha
451            Y Nagar
452    Y Venugopal Rao
454          YK Pathan
459       Yuvraj Singh
Name: batsman, Length: 142, dtype: object